<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101231878259-b4cvjpe2koop7o197iqspo49toudv9n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101231878259-b4cvjpe2koop7o197iqspo49toudv9n7</string>
	<key>API_KEY</key>
	<string>AIzaSyDKQhtJ6D5erNZu8De5aUOM1EzOiTQ6aHI</string>
	<key>GCM_SENDER_ID</key>
	<string>101231878259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dylanierugan.Dylan-s-Chat-App</string>
	<key>PROJECT_ID</key>
	<string>dylan-s-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dylan-s-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101231878259:ios:3e66997b07304106eb0a06</string>
</dict>
</plist>